section{
    /* height: 150px; */
    margin-bottom: 5mm;
}
h2{
    text-align: center;
    margin-bottom: 1mm;
}
table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
.ronda{
    text-align: center;
}
th{
    text-transform: uppercase;
}
th,
td{
    border: solid 1px black;
}
thead{
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: #fff;
}
tr:nth-child(even){
    background-color: #ddd;
}
.sig{
    background-color: green;
    color: #fff;
    text-transform: uppercase;
}
.que{
    background-color: red;
    color: #fff;
    text-transform: uppercase;
}